.icon {
    color: #006bcd;
    display: block;
    margin: 0 auto;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .title {
        text-align: left !important;
    }
}
